<center><h1> House Price prediction using Linear Regression </h1> </center> 
<strong><p> Problem Statement </p></strong>
<p>Implement a linear regression model to predict the prices of houses based on their square footage and the number of bedrooms and bathrooms.</p> 

<p>Dataset : - https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data</p>

# importing Libraries

In [55]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.metrics import r2_score

In [5]:
house_data = pd.read_csv(r"C:\Users\ASHU\Downloads\Melbourne_housing_FULL.csv")
house_data = pd.DataFrame(house_data)

In [6]:
house_data.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Landsize,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,126.0,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,Carport,NaN
1,Airport West,154 Halsey Rd,3,t,PI,Nelson,03-09-2016,13.5,3042.0,3.0,2.0,303.0,Moonee Valley City Council,-37.7180,144.8780,Western Metropolitan,3464.0,Detached Garage,840000.0
2,Albert Park,105 Kerferd Rd,2,h,S,hockingstuart,03-09-2016,3.3,3206.0,2.0,1.0,120.0,Port Phillip City Council,-37.8459,144.9555,Southern Metropolitan,3280.0,Attached Garage,1275000.0
3,Albert Park,85 Richardson St,2,h,S,Thomson,03-09-2016,3.3,3206.0,2.0,1.0,159.0,Port Phillip City Council,-37.8450,144.9538,Southern Metropolitan,3280.0,Indoor,1455000.0
4,Alphington,30 Austin St,3,h,SN,McGrath,03-09-2016,6.4,3078.0,3.0,2.0,174.0,Darebin City Council,-37.7818,145.0198,Northern Metropolitan,2211.0,Parkade,NaN

In [7]:
house_data.shape

(34857, 19)

In [8]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Date           34857 non-null  object
 7   Distance       34856 non-null  float64
 8   Postcode       34856 non-null  float64
 9   Bedroom        26640 non-null  float64
 10  Bathroom       26631 non-null  float64
 11  Landsize       23047 non-null  float64
 12  CouncilArea    34854 non-null  object
 13  Latitude       26881 non-null  float64
 14  Longtitude     26881 non-null  float64
 15  Regionname     34857 non-null  object
 16  Propertycount  34854 non-null  float64
 17  ParkingArea    34857 non-null  object
 18  Price          27247 non-null  float64
dtypes: float64(9), int64(1), object(9)
memory usage: 5.1+ MB

In [9]:
house_data.describe()

,Rooms,Distance,Postcode,Bedroom,Bathroom,Landsize,Latitude,Longtitude,Propertycount,Price
count,34857.000000,34856.000000,34856.000000,26640.000000,26631.000000,23047.000000,26881.000000,26881.000000,34854.000000,2.724700e+04
mean,3.031012,11.184929,3116.062859,3.084647,1.624798,593.598993,-37.810634,145.001851,7572.888306,1.050173e+06
std,0.969933,6.788892,109.023903,0.980690,0.724212,3398.841946,0.090279,0.120169,4428.090313,6.414671e+05
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,-38.190430,144.423790,83.000000,8.500000e+04
25%,2.000000,6.400000,3051.000000,2.000000,1.000000,224.000000,-37.862950,144.933500,4385.000000,6.350000e+05
50%,3.000000,10.300000,3103.000000,3.000000,2.000000,521.000000,-37.807600,145.007800,6763.000000,8.700000e+05
75%,4.000000,14.000000,3156.000000,4.000000,2.000000,670.000000,-37.754100,145.071900,10412.000000,1.295000e+06
max,16.000000,48.100000,3978.000000,30.000000,12.000000,433014.000000,-37.390200,145.526350,21650.000000,1.120000e+07

In [10]:
house_data.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom           8217
Bathroom          8226
Landsize         11810
CouncilArea          3
Latitude          7976
Longtitude        7976
Regionname           0
Propertycount        3
ParkingArea          0
Price             7610
dtype: int64

In [11]:
house_data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom          float64
Bathroom         float64
Landsize         float64
CouncilArea       object
Latitude         float64
Longtitude       float64
Regionname        object
Propertycount    float64
ParkingArea       object
Price            float64
dtype: object

In [12]:
house_data.Distance.fillna(house_data["Distance"].median(),inplace = True)

In [13]:
house_data.Postcode.fillna(house_data["Postcode"].median(),inplace = True)

In [14]:
house_data.CouncilArea.fillna(house_data["CouncilArea"].mode()[0],inplace = True)

In [15]:
house_data.Propertycount.fillna(house_data["Propertycount"].median(),inplace = True)

In [30]:
house_data.Landsize.fillna(house_data["Landsize"].median(),inplace = True)

In [19]:
house_data.Bedroom.fillna(house_data["Bedroom"].median(),inplace = True)

In [21]:
house_data.Bathroom.fillna(house_data["Bathroom"].median(),inplace = True)

In [24]:
house_data.Latitude.fillna(house_data["Latitude"].median(),inplace = True)

In [26]:
house_data.Longtitude.fillna(house_data["Longtitude"].median(),inplace = True)

In [28]:
def fill_landsize(row):
    if pd.isnull(row['Landsize']):
        average_landsize = house_data[(house_data['Bedroom'] == row['Bedroom']) & (house_data['Bathroom'] == row['Bathroom'])]['Landsize'].mean()
        return average_landsize
    else:
        return row['Landsize']

house_data['Landsize'] = house_data.apply(fill_landsize, axis=1)

In [49]:
def fill_Price(row):
    if pd.isnull(row["Price"]):
        avg_price = house_data[house_data["Landsize"] == row["Landsize"]]["Price"].median()
        return avg_price
    else:
        return row["Price"]
house_data["Price"] = house_data.apply(fill_Price, axis = 1)

In [53]:
house_data.Price.fillna(house_data["Price"].median(),inplace = True)

In [54]:
house_data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom          0
Bathroom         0
Landsize         0
CouncilArea      0
Latitude         0
Longtitude       0
Regionname       0
Propertycount    0
ParkingArea      0
Price            0
dtype: int64

In [59]:
X = house_data[['Landsize', 'Bedroom', 'Bathroom']]
Y = house_data['Price']

In [60]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 2)

In [64]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [66]:
predictions = model.predict(X_test)
predictions

array([ 741255.41257438,  932013.11071535,  744347.08933311, ...,
       1042299.84896818, 1231259.02361008,  930693.94575219])

In [67]:
mse = mean_squared_error(Y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 292684759241.9617

In [68]:
r2 = r2_score(Y_test, predictions)
print(f'R-squared: {r2}')

R-squared: 0.14388783429752727